<!DOCTYPE html>
<html lang="pt-br">
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<title>Contatos</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>

	<header>
		<nav>
			<ul>
				<li><a th:href="@{/}">Meus Contatos</a></li>
				<li><a th:href="@{/contatos}">Listar</a></li>
				<li><a th:href="@{/contatos/novo}">Novo</a></li>
			</ul>
		</nav>
	</header>

	<main>
		<section>
			<br>
			<h1>Seja bem vindo(a)!</h1>
			<br>
		</section>
	</main>

</body>

</html>